.git
.gitignore
.env
.env.*
!.env.example
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!.gitkeep
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
*.log
Dockerfile
.dockerignore
README.md
